body{
    margin:0px;
}
img{
    height: 623px;
    width: 100%;
}
div.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
button{
    background-color: #79ba79;
    border: 0px;
    border-radius: 8%;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    width: 160px;
    color:white;
}